@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: sfPro;
    src: url(../fonts/SF-Pro.ttf);
  }

  html {
    font-family: sfPro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif;
  }
}
